<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  main {
    /*width: 100%;*/
    /*min-height: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*box-sizing: inherit;*/
    /*position: relative;*/
  }

  img {
    width: 100%;
    display: block;
    min-width: 100%;
    object-fit: contain;
  }

  *, :after, :before {
    box-sizing: border-box;
    margin: 0;
  }
</style>

<main class="main">
  <div class="content">
    <img src="assets/goftar-menu.jpg" alt="">
  </div>
</main>

<router-outlet />
